## Integers and Floats

In [ ]:
x = 5
y = 2.3

# Basic operations
x + y
x - y
x * y
x / y
x // y  # floor division
x % y   # modulus remainder
x ** y  # exponent
x += 1  # increment by 1
x -= 1  # decrement by 1

# Convert to integer
int(3.14159)
int('4')

# Convert to float
float(2)
float('3.14159')

## Strings
Can use either single ' ' or double " " quotes as long as you're consistent

In [ ]:
a_string = 'abc'

# Convert to string
str(2.1)

## Lists [ ]
- Collection of items
- Doesn't have to all be same data type.

In [ ]:
# Init list with values
a_list = [5, 10, 15, 20, 25, 30, 35, 40, 45, 'dog']

## Tuples ( )
Similar to lists, but can't modify values.

In [ ]:
# Init tuple with values
a_tuple = (5, 10, 15, 20, 25, 30, 35, 40, 45, 'dog')

# Access items like list, using square brackets []
a_tuple[0]

# Can't edit items
a_tuple[0] = 99  # This will not work!

## Dictionaries { }
- Collection of data pairs
- Keys must be unique
- Keys are not stored in order

In [ ]:
# Init dictionary with key:value pairs
a_dict = {'Alice':30, 'Bob':35, 'Chris':28, 'Dave':'N/A'}